#contactbackground{
    background-image: url("https://www.barraques.cat/pngfile/big/43-435693_cube-wallpaper-texture-hd-3d.jpg");
    background-size: 100% 100%;
    background-repeat: repeat;
}

.yt{
    padding-left: 1.5%;
    padding-right:1.5%;
    border: 0px
}

#background{
  background-image: url("https://i.imgur.com/7T9364v.gif?noredirect");
  background-size: 100% 100%;
  background-repeat: repeat;
}
